@import url('https://fonts.googleapis.com/css?family=Cinzel|Rationale|Roboto');

#page-title{
  font-family: 'Rationale', sans-serif;
  margin: 16% auto;
  text-align: center;
  font-size: 10em;
  color: orange;
  position: relative;
}

.col-md-3 {
  padding: 0;
}

/*/////Header stuff/////*/
.header {
  margin: 0;
  background-color: rgba(0,0,0,0.5);
  padding: 2%;
  width: 100%;
}

.header a{
  font-family: 'Cinzel', serif;
  color: black;
  text-decoration: none;
  font-size: 1.75em;
}

.header * {
  text-align: center;
}


.header a:hover{
  color: black;
}

.header a:visited{
  color: black;
  text-decoration: none;
}

.dropdown {
  padding: 0;
}

.dropItem {
  padding-left: 0;
}

#drop {
  font-size: 1.75em;
  color: black;
  padding: 0;
  margin-left: 30%;
}

/*/////About Section/////*/
.about-title{
  font-family: 'Cinzel', serif;
}

.about-content{
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
}

.about-container{
  width: 75%;
  margin: 15% auto;
  padding: 3%;
  border-radius: 5px;
  background-color: rgba(220, 220, 220, 0.75);
  text-align: center;
}

/*/////Resume Section/////*/
canvas{
  /*margin-left: 12%;*/
  text-align: center;
}

#download{
  margin-top: 5%;
  text-align: center;
}

/*/////Footer Section/////*/
.icon {
  margin-left: 10%;
}

#fix {
  max-width: 100%;
}

/*//////Projects Section/////*/
.project-container {
  text-align: center;
  margin-top: 10%;
}

.project-title {
  font-family: 'Cinzel', serif;
  text-decoration: none;
  color: black;
}

/*.hide {
  height: 0%;
  width: 0%;
  visibility: hidden;
  margin-left: 100%;
}

.show {
  visibility: visible;
  margin: auto;
}*/

p[class^="project-description"] {
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  -webkit-transition: all 2s;
  top: 0;
}

div[class^="par"] {
  -webkit-transition: margin-left 2s linear;
}
